# Dépendances de base pour Django et REST Framework
Django==4.2.16
djangorestframework==3.15.2

# Authentification
django-allauth==0.63.3

# Gestion des requêtes HTTP (pour Ollama)
requests==2.32.3

# Client MinIO pour le stockage
minio==7.1.12

# Manipulation des fichiers PDF
PyPDF2==3.0.1

# Gestion des variables d'environnement
python-decouple==3.8

# Gestion des CORS pour les requêtes frontend
django-cors-headers==4.4.0

# Authentification avec JWT
PyJWT==2.9.0
cryptography==43.0.1

# Serveur WSGI pour production
gunicorn==23.0.0

djangorestframework-simplejwt==5.3.1